
@{
    ViewBag.Title = "Test";
}
<script type="text/javascript" src="~/Scripts/testrender.js"></script>

<div class="row" id="casegraph">
    <div class="col-md-12">
        <center><div id="chartContainer" style="height: 500px; width: 90%;"></div></center>
    </div>
</div>

