
@{
    ViewBag.Title = "LumendiSummary";
}
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="~/assets/scripts/LumendiSummary.js?11041"></script>
<!-- BANNER
================================================== -->
<div class="banner banner--small" role="banner">
    <div class="banner__background" style="background-image:url(/assets/images/banner-contact.jpg);" data-type="background"></div>
    <div class="banner__content">
        <h2 class="banner__headline alpha">Lumendi Summary</h2>
    </div>
</div><!--/banner -->

<main role="main" id="main">
    <div class="section section--gray" style="padding: 40px 0">
        <div class="container">
            <p style="display: inline">Hi User <span id="UserID"></span>: Welcome to our study! Now, you can input your Subject.</p>
            <button class="btn" id="btnSignOut" style="float: right; transform: translateY(-20px)">Sign Out</button>
        </div>
    </div>
    <div class="container--fluid two-column__container">
        <form action="" id="Study3" name="LumendiForm">
            <div class="grid two-column">
                <!--left -->
                <div class="grid__column grid__column--12 grid__column--2--md two-column__section two-column__section--blue" id="div-menu">
                    <div class="vertical-menu">
                        <a href="#" id="Summary0" targetLink="Visit0">Demographics</a>
                        <a href="#" id="Summary1">Satification</a>
                        <a href="#" id="Summary2">Procedure</a>
                            @*<a href="#" id="Summary3">Summary 4</a>*@
                            @*<a href="#" id="Summary4">Summary 5</a>*@
                        <a href="#" id="return">Retrun Entry Data</a>
                    </div>
                </div>
                <!--right -->
                <div class="grid__column grid__column--12 grid__column--10--md two-column__section" id="div-Form">

                    <!--section Demog-->
                    <section class="grid" id="section-Demog">
                        <div class="grid__column grid__column--12 grid__column--12--md" style="padding: 0 100px">
                            <h3>DEMOGRAPHICS SUMMARY</h3>
                            <label for="SubjNum" class="control__label control__label__inline" id="lblSubjID" style="width:30%">
                                Total of Subject: <input type="text" class="control__input__inline" style="width: 30%" id="SubjNum" />
                            </label>

                            <label for="DeviceNum" class="control__label control__label__inline" id="lblSubjID" style="width:30%">
                                Total of Device: <input type="text" class="control__input__inline" style="width: 30%" id="DeviceNum" />
                            </label>

                            <label for="ControlNum" class="control__label control__label__inline" id="lblSubjID" style="width:30%">
                                Total of Control: <input type="text" class="control__input__inline" style="width: 30%" id="ControlNum" />
                            </label>

                            <table id="table">
                                <tr>
                                    <th>Subject ID</th>
                                    <th>Age</th>
                                    <th>Gender</th>
                                    <th>Race/Ethnicity</th>
                                </tr>
                            </table>
                            <h6>Summary Age by Treatment</h6>
                            <table id="SummaryAge">
                                <tr>
                                    <th>Control</th>
                                    <th>Device</th>
                                    <th>Overall</th>
                                </tr>
                            </table>
                            <h6>Summary Gender by Treatment</h6>
                            <table id="SummaryGender">
                                <tr>
                                    <th>Gender</th>
                                    <th>Control</th>
                                    <th>Device</th>
                                    <th>Overall</th>
                                </tr>
                            </table>
                            <h6>Summary Race/Ethnicity by Treatment</h6>
                            <table id="SummaryRaceEthni">
                                <tr>
                                    <th>Race/Ethnicity</th>
                                    <th>Control</th>
                                    <th>Device</th>
                                    <th>Overall</th>
                                </tr>
                            </table>
                        </div>
                    </section>

                    <!--section Satification-->
                    <section class="grid" id="section-Satification" style="display:none">
                        <div class="grid__column grid__column--12 grid__column--12--md" style="padding: 0 100px">
                            <h3>SATIFICATION SUMMARY</h3>
                            <table id="SatificationSummary">
                                <tr>
                                    <th>N</th>
                                    <th>Mean (SD) </th>
                                    <th>Median</th>
                                    <th>Min, Max</th>
                                </tr>
                            </table>
                        </div>
                    </section>

                    <!--section Procedure-->
                    <section class="grid" id="section-Procedure" style="display:none">
                        <div class="grid__column grid__column--12 grid__column--12--md" style="padding: 0 100px">
                            <h3>PROCEDURE SUMMARY</h3>
                            
                            <center><div id="chartContainer" style="height: 500px; width: 90%;"></div></center>
                            
                        </div>
                    </section>

                </div>
            </div>
        </form>
    </div>
</main>