
@{
    ViewBag.Title = "LumendiSummary";
}
<script src="~/assets/scripts/LumendiSummary.js?930"></script>
<!-- BANNER
================================================== -->
<div class="banner banner--small" role="banner">
    <div class="banner__background" style="background-image:url(/assets/images/banner-contact.jpg);" data-type="background"></div>
    <div class="banner__content">
        <h2 class="banner__headline alpha">Lumendi Summary</h2>
    </div>
</div><!--/banner -->


<div class="container--fluid two-column__container">
    <form action="" id="Study3" name="LumendiForm">
        <div class="grid two-column">
            <!--left -->
            <div class="grid__column grid__column--12 grid__column--2--md two-column__section two-column__section--blue" id="div-menu">
                <div class="vertical-menu">
                    <a href="#" id="Summary0" targetLink="Visit0">DEMOGRAPHICS</a>
                    @*<a href="#" id="Summary1">Summary 2</a>
                    <a href="#" id="Summary2">Summary 3</a>
                    <a href="#" id="Summary3">Summary 4</a>
                    <a href="#" id="Summary4">Summary 5</a>*@
                    <a href="#" id="return">Retrun Entry Data</a>
                </div>
            </div>
            <!--right -->
            <div class="grid__column grid__column--12 grid__column--10--md two-column__section" id="div-Form">

                <!--section Demog-->
                <section class="grid" id="section-Demog">
                    <div class="grid__column grid__column--12 grid__column--12--md" style="padding: 0 100px">
                        <h3>DEMOGRAPHICS</h3>
                        <label for="SubjNum" class="control__label control__label__inline" id="lblSubjID">Total of Subject: </label>
                        <input type="text" class="control__input__inline" style="width: 15%" id="SubjNum" />
                        <label for="DeviceNum" class="control__label control__label__inline" id="lblSubjID">Total of Device: </label>
                        <input type="text" class="control__input__inline" style="width: 15%" id="DeviceNum" />
                        <label for="ControlNum" class="control__label control__label__inline" id="lblSubjID">Total of Control: </label>
                        <input type="text" class="control__input__inline" style="width: 15%" id="ControlNum" />
                        <table id="table">
                            <tr>
                                <th>Subject ID</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Race/Ethnicity</th>
                            </tr>
                        </table>
                        <h6>Summary Age by Treatment</h6>
                        <table id="SummaryAge">
                            <tr>
                                <th>Control</th>
                                <th>Device</th>
                                <th>Overall</th>
                            </tr>
                        </table>
                        <h6>Summary Gender by Treatment</h6>
                        <table id="SummaryGender">
                            <tr>
                                <th>Gender</th>
                                <th>Control</th>
                                <th>Device</th>
                                <th>Overall</th>
                            </tr>
                        </table>
                        <h6>Summary Race/Ethnicity by Treatment</h6>
                        <table id="SummaryRaceEthni">
                            <tr>
                                <th>Race/Ethnicity</th>
                                <th>Control</th>
                                <th>Device</th>
                                <th>Overall</th>
                            </tr>
                        </table>
                    </div>
                </section>

            </div>
        </div>
    </form>
</div>