
@{
    ViewBag.Title = "VerifyEmail";
}
<script src="~/assets/scripts/VerifyEmail.js?824"></script>
<!-- BANNER
================================================== -->
<div class="banner banner--small" role="banner">
    <div class="banner__background" style="background-image:url(/assets/images/banner-contact.jpg);" data-type="background"></div>
    <div class="banner__content">
        <h2 class="banner__headline alpha">Verfication</h2>
    </div>
</div><!--/banner -->

<main role="main" id="main">
    <!--Verify Email
    ================================================== -->
    <article class="section section--small">
        <div class="container container--small">
            <div class="section__header section__header--centered">
                <img src="~/assets/images/email-logo.jpg" width="200" />
                <h2 class="section__heading" id="head1">Verification</h2>
                @*<p class="lead" style="text-align: left">Please enter your Email. We will send you a one time Varification code as the password for your first login.</p>*@
                <p class="lead" id="head2">Please enter your invitation code.</p>

            </div>

            <form action="" id="VerifyEmail">
                <div class="grid" id="Formgird">
                    @*invite code*@
                    <div class="grid__column grid__column--12 grid__column--12--sm">
                        <div class="control" id="divVerifyCode">
                            <label for="User-code" class="control__label control__label--is-required">Enter code</label>
                            <input type="text" class="control__input" id="User-code">
                            <p id="msg-code" style="color:#ff0000; margin:0px; font-style:italic"></p>
                        </div>
                    </div>
                    @*Email Address*@
                    <div class="grid__column grid__column--12 grid__column--12--sm">
                        <div class="control" id="divEmail">

                        </div>
                    </div>
                    <div class="grid__column grid__column--12 grid__column--12--sm">
                        <div class="control" id="divPwd">

                        </div>
                    </div>

                    <div class="grid__column grid__column--12 grid__column--12--sm">
                        <button class="btn" id="btnVerify" type="submit" value="btnSubmit">Verify</button>
                    </div>
                    <div class="grid__column grid__column--12 grid__column--6--sm">
                        <button class="btn" id="btnSignin" type="submit" style="display:none" value="btnSignin">Log in</button>
                    </div>
                    <div class="grid__column grid__column--12 grid__column--6--sm">
                        <button class="btn" id="btnSignup" type="submit" style="display: none; float: right; color: #b74d4d" value="btnSignin">Sign Up</button>
                    </div>
                    <div class="grid__column grid__column--12 grid__column--12--sm">
                        <a href="ResetPwd" id="forgetlink" class="text-link" style="display:none; padding-top:30px">Forgot user name and / or password?   &#8250;</a>
                    </div>
                </div>
            </form>

        </div>
    </article><!--/Verify Email-->
</main>