@{
    ViewBag.Title = "Home Page";
}

<!-- BANNER
================================================== -->
<div class="banner" role="banner">
    <div class="banner__background" style="background-image:url(/assets/images/banner-background.jpg);" data-type="background"></div>
    <div class="banner__content">
        <h1 class="banner__headline alpha">The Power of <span class="caesar-text">S.M.A.R.T.&trade;</span> Clinical Software</h1>
        <a href="/HOME/contact" class="btn btn--light-blue banner__button">Request Information</a>
    </div>
</div><!--/banner -->

<main role="main" id="main">

    <!-- WHAT IS SMART?
    ================================================== -->
    <div class="section section--blue section--centered section--is-overlaid">
        <div class="container">
            <h2 class="alpha">Introducing <span class="caesar-text">S.M.A.R.T.&trade;</span>?</h2>
            <p class="lead subheadline"><span class="caesar-text" style="font-size:35px">S</span>oftware develop and licensing, <span class="caesar-text" style="font-size:35px">M</span>achine Learning, Big Data <span class="caesar-text" style="font-size:35px">A</span>nalystics, <span class="caesar-text" style="font-size:35px">R</span>isk Benefit Analysis, <span class="caesar-text" style="font-size:35px">T</span>raining in data analystics</p>
            <a href="/HOME/services" class="btn btn--light-blue">View Applications</a>
        </div>
    </div><!--/what is smart?-->
    <!-- UNIQUE SOFTWARE
    ================================================== -->
    <div class="section section--centered">
        <div class="mockup overlay-above">
            <div id="mockup-carousel" class="mockup__frame owl-carousel mockup-carousel"  data-mockup-number="3">
                <img class="mockup__image" src="/assets/images/screenshot-05.PNG" alt="">
                <img class="mockup__image" src="/assets/images/screenshot-01.jpg" alt="">
                <img class="mockup__image" src="/assets/images/screenshot-02.jpg" alt="">
                <img class="mockup__image" src="/assets/images/screenshot-03.jpg" alt="">
                <img class="mockup__image" src="/assets/images/screenshot-04.PNG" alt="">

            </div>
        </div>
        <div class="container container--medium">
            <h2 class="alpha">What is Unique About Our Software?</h2>
            <p class="lead">Most statistical calculations rely on approximations for planning and analyzing clinical trials. <span class="caesar-text">S.M.A.R.T.&trade;</span> is using a cutting-edge methodology that provides the exact solutions for clinical trial designs. Our methodologies, published in leading statistical journals, ensure their advantage over traditional approaches.</p>
        </div>

    </div><!--/unique software-->
    <!-- CLIENT TESTIMONIALS
    ================================================== -->
    <div class="section section--blue section--blue-reversed masked-section">
        <div class="container">
            <div class="grid grid--reversed-medium">
                <div class="grid__column grid__column--12 grid__column--5--md masked-section__mask masked-section__padding">
                    <div class="masked-section__content">
                        <h2 class="alpha masked-section__heading">Helping Our Customers Solve Complex Problems</h2>
                    </div>
                </div>
                <div class="grid__column grid__column--12 grid__column--7--md masked-section__padding">
                    <div class="testimonial">
                        <p class="testimonial__text">This group is founded on deep industry expertise, coupled with some of the smartest and most creative  development professionals in the business, and led by distinguished and tested leaders ... always generating outstanding technological products, tools and platforms.</p>
                        <div class="testimonial__meta">
                            <p class="testimonial__author">
                                Hani Zaki
                                <span class="testimonial__title">Founder & Managing Director</span>
                            </p>
                            <p class="testimonial__company">Clinical Development Outsourcing Strategies&trade;, LLC</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/client testimonials -->

    <!-- Trusted Partner
    ================================================== -->
    <div class="section section--white section--centered">

        <div class="container container--medium">
            <h2 class="alpha">A Trusted Partner</h2>
            <p class="lead" style="text-align:left">We are a highly experienced group of data scientists who are well-versed in the modeling of large amounts of data in the areas of biomedical, business, manufacturing, marketing, and consumer testing. We hold formal training in mathematics, statistics, and computer science. </p>
            <br/>
            <p class="lead" style="text-align:left">We are experts in our field, backed by numerous publications, and recognized with awards of statistical achievements. Logecal and its sister company, Prosoft Clinical, help bring new therapies to patients in desperate need of cure or relief from life altering diseases. Our work have been published in various news portals, magazines, and scientific journals. </p>
        </div>

    </div><!--/Trusted Partner-->

    <!-- REQUEST MORE INFORMATION
    ================================================== -->
    <div class="section section--gray section--centered">
        <div class="container container--small">
            <h2 class="alpha">Request More Information or Schedule a Demo</h2>
            <a href="/HOME/contact" class="btn">Contact Us</a>
        </div>
    </div><!--/request more information -->

</main>