@{
    ViewBag.Title = "Logecal Statistical Software for Complex Trial Designs";
}

<!-- BANNER
================================================== -->
<div class="banner" role="banner">
    <div class="banner__background" style="background-image:url(/assets/images/banner-background.jpg);" data-type="background"></div>
    <div class="banner__content">
        <h1 class="banner__headline alpha">The Power of <span class="caesar-text">S.M.A.R.T.&trade;</span> Clinical Software</h1>
        <a href="/HOME/contact" class="btn btn--light-blue banner__button">Request Information</a>
    </div>
</div><!--/banner -->

<main role="main" id="main">

    <!-- Introducing smart?
    ================================================== -->
    <div class="section section--blue section--centered section--is-overlaid">
        <div class="container">
            <h2 class="alpha">Introducing <span class="caesar-text">S.M.A.R.T.&trade;</span></h2>
            <p class="lead subheadline">
                <span class="caesar-text" style="font-size:35px">S</span>oftware Development and Licensing, <span class="caesar-text" style="font-size:35px">M</span>achine Learning, Big Data <span class="caesar-text" style="font-size:35px">A</span>nalytics,
            </p>
            <p class="lead subheadline">
                <span class="caesar-text" style="font-size:35px">R</span>isk Benefit Analytics, <span class="caesar-text" style="font-size:35px">T</span>raining in Data Analytics
            </p>
            <a href="/HOME/services" class="btn btn--light-blue">View Applications</a>
        </div>
    </div><!--/Introducing smart?-->
    <!-- UNIQUE SOFTWARE
    ================================================== -->
    <div class="section section--centered">
        <div class="mockup overlay-above">
            <div id="mockup-carousel" class="mockup__frame owl-carousel mockup-carousel" data-mockup-number="3">
                <img class="mockup__image" src="/assets/images/screenshot-05.PNG" alt="">
                <img class="mockup__image" src="/assets/images/screenshot-01.jpg" alt="">
                @*<img class="mockup__image" src="/assets/images/screenshot-02.jpg" alt="">
                    <img class="mockup__image" src="/assets/images/screenshot-03.jpg" alt="">*@
                <img class="mockup__image" src="/assets/images/screenshot-04.PNG" alt="">
            </div>
        </div>
        @*<div class="container container--medium">
                <h2 class="alpha">What is Unique About Our Software?</h2>
                <p class="lead">Most statistical calculations rely on approximations for planning and analyzing clinical trials. <span class="caesar-text">S.M.A.R.T.&trade;</span> is using a cutting-edge methodology that provides the exact solutions for clinical trial designs. Our methodologies, published in leading statistical journals, ensure their advantage over traditional approaches.</p>
            </div>*@
    </div>


    <!-- CLIENT TESTIMONIALS
    ================================================== -->
    <div class="section section--blue section--blue-reversed masked-section">
        <div class="container">
            <div class="grid grid--reversed-medium">
                <div class="grid__column grid__column--12 grid__column--5--md masked-section__mask masked-section__padding">
                    <div class="masked-section__content">
                        <h2 class="alpha masked-section__heading">Helping Our Customers Solve Complex Problems</h2>
                    </div>
                </div>
                <div class="grid__column grid__column--12 grid__column--7--md masked-section__padding">
                    <div class="testimonial">
                        <p class="testimonial__text">This group is founded on deep industry expertise, coupled with some of the smartest and most creative  development professionals in the business, and led by distinguished and tested leaders ... always generating outstanding technological products, tools and platforms.</p>
                        <div class="testimonial__meta">
                            <p class="testimonial__author">
                                Hani Zaki
                                <span class="testimonial__title">Founder & Managing Director</span>
                            </p>
                            <p class="testimonial__company">Clinical Development Outsourcing Strategies&trade;, LLC</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/client testimonials -->

    <!-- Trusted Partner
    ================================================== -->
    <div class="section section--gray section--centered">
        <div class="container container--fluid">
            <h2 class="alpha">A Trusted Partner</h2>
            <p class="lead" style="text-align:left">We are a highly experienced group of data scientists who are well-versed in the modeling of large amounts of data in the areas of biomedical, business, manufacturing, marketing, and consumer testing. We hold formal training in mathematics, statistics, and computer science. </p>
            <p class="lead" style="text-align:left">We are experts in our field, backed by numerous publications, and recognized with awards of statistical achievement. Logecal and its sister company, Prosoft Clinical, help bring new therapies to patients in desperate need of cure or relief from life altering diseases. Our work has been published in various news portals, magazines, and scientific journals. </p>
        </div>
    </div>

    <!-- News
    ================================================== -->
    <div class="section section--white">
        <div class="container container--fluid">
            <div class="grid">
                <div class="grid__column grid__column--12 grid__column--6--lg">
                    <div>
                        <img src="/assets/images/news.jpg" alt="news">
                    </div>                    
                    <div class="img">
                        <img src="~/assets/images/Maryland.jpg" alt="Baltimore Sun">
                    </div>                    
                    <a href="https://www.baltimoresun.com/coronavirus/bs-md-covid-19-projections-graphics-20200711-nbpnrziinbctlf4sgtmvkngm7a-story.html" class="text-link" target="_blank">The Baltimore Sun</a>
                </div>
                <div class="grid__column grid--justify-center grid__column--12 grid__column--6--lg">
                    <h2 class="alpha">Physician Outlook</h2>
                    <div class="img">
                        <img src="/assets/images/Physician Outlook.jpg" alt="Physician Outlook">
                    </div>
                    <div class="img">
                        <a href="https://www.physicianoutlook.com/articles/covid-19-evolution-of-a-pandemic" class="text-link" target="_blank">Physician Outlook</a>
                    </div>
                    <div class="img">
                        <img src="/assets/images/projecting.jpg" alt="Physician Outlook">
                    </div>
                    <div class="img">
                        <a href="https://www.msn.com/en-us/news/us/graphics-projecting-marylands-covid-19-cases-and-deaths/ar-BB13UhKU" class="text-link" target="_blank">msn|news</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container container--fluid">
            <h4>Awards</h4>
            <p>The American Statistical Association Philadelphia Chapter Practice Award recognizes Dr. Rom for his contribution to the theory and methods for adjustment for multiple comparisons and for testing bioequivalence.  These methods have been shared in many articles, books and software packages.  He has also been an active sponsor of academic statistics at the undergraduate and graduate level.  He has published many papers in prestigious journals including Biometrika and Statistics in Medicine. </p>
            <a href="https://community.amstat.org/philadelphia/award-winners" class="text-link" target="_blank">The American Statistical Association</a>
            <h4>Recent publications</h4>
            <a href="https://www.tandfonline.com/doi/full/10.1080/10543406.2020.1730878" class="text-link" target="_blank">Exact critical values for group sequential designs with small sample sizes.</a>
            <p>Rom DM and McTague, Jaclyn</p>
        </div>
    </div>
    <!-- REQUEST MORE INFORMATION
    ================================================== -->
    <div class="section section--gray section--centered">
        <div class="container container--small">
            <h2 class="alpha">Request More Information or Schedule a Demo</h2>
            <a href="/HOME/contact" class="btn">Contact Us</a>
        </div>
    </div><!--/request more information -->

</main>