
@{
    ViewBag.Title = "Services of Logecal";
}

<!-- BANNER
================================================== -->
<div class="banner banner--small" role="banner">
    <div class="banner__background" style="background-image:url(/assets/images/banner-services.jpg);" data-type="background"></div>
    <div class="banner__content">
        <h1 class="banner__headline alpha">What we can do?</h1>
        @*<h4 class="banner__headline alpha">Let Us Find You a <span class="caesar-text">S.M.A.R.T.&trade;</span> Solution for Your Business Needs</h4>*@
    </div>
</div><!--/banner -->

<main role="main" id="main">

    <div class="section">
        <div class="container container--large">
            <!-- WHAT WE CAN DO
    ================================================== -->
            @*<div class="section__header section__header--centered">
                <h2 class="section__heading">What We Can Do?</h2>
            </div>*@

            <!-- Software Development & Licensing
    ================================================== -->

            <div class="box box--mask-first box--gradient">
                <div class="box__mask box__mask--gradient">
                    <h3 class="box__title">Software Development & Licensing</h3>
                </div>
                <div class="box__content">
                    <p class="lead">
                        We can help design and build analytic programs that are equipped with user friendly interfaces. Our statistical experience ensures a theoretically sound back-end, while our programming knowledge facilitates computational efficiency.<br>
                        <ul class="checkmark-list">
                            <li class="checkmark-list__item">Have your own idea? Let us translate it into a customized piece of software.</li>
                            <li class="checkmark-list__item">Want to use one of our already existing programs?</li>
                        </ul>
                    <p class="lead">
                        This homegrown software provides sample size estimates to help plan group sequential clinical trials. The underlying methodology, which was published in a leading statistical journal (read here), calculates exact critical values which is especially helpful for studies of rare diseases.
                    </p>

                </div>
            </div>
            <div class="section section--gray section--centered section--is-overlaid">
                <div class="container container--small">
                    <h4 class="alpha">Example<i class="fa fa-arrow-right" aria-hidden="true"></i>Group Sequential Software</h4>
                </div>
            </div>
            <!-- UNIQUE SOFTWARE
    ================================================== -->
            <div class="section section--gray section--centered">
                <div class="mockup overlay-above">
                    <div id="mockup-carousel" class="mockup__frame owl-carousel mockup-carousel" data-mockup-number="3">
                        <img class="mockup__image" src="/assets/images/screenshot-01.jpg" alt="">
                        <img class="mockup__image" src="/assets/images/screenshot-02.jpg" alt="">
                        <img class="mockup__image" src="/assets/images/screenshot-03.jpg" alt="">
                    </div>
                </div>
                <div class="container container--medium">
                    <h2 class="alpha">What is Unique About Our Software?</h2>
                    <p class="lead">Most statistical calculations rely on approximations for planning and analyzing clinical trials. <span class="caesar-text">S.M.A.R.T.&trade;</span> is using a cutting-edge methodology that provides the exact solutions for clinical trial designs. Our methodologies, published in leading statistical journals, ensure their advantage over traditional approaches.</p>
                </div>
            </div><!--/unique software-->
            <!-- Machine Learning
    ================================================== -->

            <div class="box box--mask-first box--gradient">
                <div class="box__mask box__mask--gradient">
                    <h3 class="box__title">Machine Learning</h3>
                </div>
                <div class="box__content">
                    <p class="lead">
                        Our expertise involves building models that are based on a preliminary set of data and continually improve as more data is accumulated.
                    </p>
                </div>
            </div>

            <!-- Big Data Analytics
    ================================================== -->
            <div class="box box--mask-first box--gradient">
                <div class="box__mask box__mask--gradient">
                    <h3 class="box__title">Big Data Analytics</h3>
                </div>
                <div class="box__content">
                    <p class="lead">
                        Big data refers to the digital deluge of information that is a result of the increasing use of sensor-embedded devices, smart phone applications, social media platforms, advanced technological tools, and internet-enabled behaviors.
                    </p>
                    <div>
                        <img class="box__image" src="/assets/images/bigdata.jpg" alt="Big Data Analytics">
                    </div>
                    <br />
                    <p class="lead type-center">
                        We have the expertise to handle the large <span style="color: cornflowerblue">Volume</span>, high <span style="color: cornflowerblue">Variety</span>, fast-paced <span style="color: cornflowerblue">Velocity</span>, and low <span style="color: cornflowerblue">Veracity</span> in order to
                    </p>
                    <h4 class="lead type-center">extract the <span style="color: cornflowerblue">Value</span> from your big data.</h4>
                    <h6 class="alpha type-center" style="color:coral">Let us turn your big data into business knowledge</h6>
                </div>
            </div>

            <!-- Risk-Benefit Analysis
    ================================================== -->
            <div class="box box--mask-first box--gradient">
                <div class="box__mask box__mask--gradient">
                    <h3 class="box__title">Risk-Benefit Analysis</h3>
                </div>
                <div class="box__content">
                    <p class="lead">
                        Risk-benefit analysis predicts and balances the benefits and adverse outcomes in situations when it is unavoidable to get both.<br />
                        Consider a clinical trial that studies an active drug and placebo.
                    </p>
                    <br />
                    <div>
                        <img class="box__image" src="/assets/images/Risk-Benefit.jpg" alt="Big Data Analytics">
                    </div>
                </div>
            </div>

            <!-- Training in Data Analytics
    ================================================== -->
            <div class="box box--mask-first box--gradient">
                <div class="box__mask box__mask--gradient">
                    <h3 class="box__title">Training in Data Analytics</h3>
                </div>
                <div class="box__content">
                    <p class="lead">
                        We offer downloadable modules for training in various aspects of data analytics.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!-- REQUEST MORE INFORMATION
    ================================================== -->
    <div class="section section--gray section--centered">
        <div class="container container--small">
            <h2 class="alpha">Request More Information or Schedule a Demo</h2>
            <a href="/contact" class="btn">Contact Us</a>
        </div>
    </div><!--/request more information -->

</main>
